<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>

<h1>Добавление пользователя</h1>

<form th:action="@{/users/add}" method="post">

    <label>Имя:</label>
    <input type="text" name="name">

    <br><br>

    <label>Фамилия:</label>
    <input type="text" name="lastName">

    <br><br>

    <label>Возраст:</label>
    <input type="number" name="age">

    <br><br>

    <button type="submit">Добавить</button>

</form>

<br>

<a th:href="@{/users}">Назад к пользователям</a>

</body>
</html>